@***REMOVED***
    ViewData["Title"] = "Lobby";
    Layout = null;
***REMOVED***

<title>@ViewData["Title"]</title>
<div id="Lobby"></div>
<link rel="stylesheet" asp-href-include="dist/assets/main.*.css">
<script type="module" asp-src-include="dist/assets/main.*.js"></script>