//#root {
//    max-width: 1280px;
//    margin: 0 auto;
//    padding: 2rem;
//    text-align: center;
//}

// .logo:hover {
//     filter: drop-shadow(0 0 2em #646cffaa);
// }

// .logo.react:hover {
//     filter: drop-shadow(0 0 2em #61dafbaa);
// }

.cards__container {
    justify-content: flex-start;
    padding: 1.7rem 1rem;
    display: inline-flex;
    gap: 3rem;
    white-space: nowrap;
    overflow-x: auto;
    height: 17rem;
    align-items: center;
    background-color: #F2F4F5;
    .card {
        width: 20rem; 
        height: 12rem; 
        padding: 0rem 0rem 1rem 0rem; 
        cursor: pointer;

        .card__header {
            .card__menu {
                display: flex; 
                padding: 0.3rem 1rem; 
                justify-content: space-between; 
                background-color: #6997ff; 
                width: 100%;
            }
        }
        .card__details {
            color: #4f6a8d;
            border-radius: 0.2rem;
            padding: 1px 0.3rem;
            display: inline-block;
            font-size: 12;
            margin-left: 0.5rem;

            .event__value {
                background-color: #e5f2ff;
                padding: 0.3rem 0.3rem;
                margin-left: 0.3rem;
            }
        }
    }
}

.menu__items {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 60%;
    .active__issues {
        font-size: 12;
        color: #F2F4F5;
        background-color: #278ae0;
        padding: 0.5rem;
        margin-left: 0.5rem;
        border-radius: 1.625rem;
    }
}

.project__name {
    font-size: 13;
    color: #040615;
    font-family: Lato, sans-serif;
    font-weight: 400;
    padding: 0.3rem 0rem;
    .name {
        font-size: 14;
        color: #040615;
        font-family: Lato, sans-serif;
        font-weight: 400;
        padding: 0rem 0.5rem 0rem 0rem
    }
}

.card__header {
    display: flex;
    span {
        line-height: 1.8rem;
    }
}

.card_1 {
    border-left: 10px solid orange;
}

.card_2 {
    border-left: 10px solid green;
}

.card_3 {
    border-left: 10px solid chocolate;
}

p {
    font-family: "Open sans", sans-serif;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
}

span {
    font-family: "Open sans", sans-serif;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

//@media (prefers-reduced-motion: no-preference) {
//    a:nth-of-type(2) .logo {
//        animation: logo-spin infinite 20s linear;
//    }
//}
