//#root {
//    max-width: 1280px;
//    margin: 0 auto;
//    padding: 2rem;
//    text-align: center;
//}

// .logo:hover {
//     filter: drop-shadow(0 0 2em #646cffaa);
// }

// .logo.react:hover {
//     filter: drop-shadow(0 0 2em #61dafbaa);
// }

.cards__container__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
}
.menu__buttons {
    width: 40%;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    .menu__search {
        height: 2.5rem;
        //border: 1px rgba(25, 118, 210, 0.5) solid;
    }
    .sort__button {
        height: 2.5rem;
    }
}


.cards__container {
    justify-content: flex-start;
    padding: 1.7rem 20px;
    display: inline-flex;
    gap: 3rem;
    white-space: nowrap;
    overflow-x: auto;
    height: 17rem;
    align-items: center;
    background-color: #F2F4F5;
    .card {
        overflow: visible;
        position: relative;
        border-radius: 0 0.38rem 0.38rem 0;
        width: 20rem; 
        height: 12rem; 
        padding: 0 0 1rem 0;
        .card__header {
            border-radius: 0 0.38rem 0 0;
            .card__menu {
                display: flex; 
                padding: 0.3rem 0.3rem 0.3rem 1rem; 
                justify-content: space-between;
                width: 100%;
            }
        }
        .card__details {
            color: #4f6a8d;
            border-radius: 0.2rem;
            display: inline-block;
            margin-left: 0.1rem;

            .event__value {
                background-color: #e5f2ff;
                padding: 0.3rem 0.3rem;
                margin-left: 0.3rem;
            }
        }
    }
}

.border__left {
    position: absolute;
    border-radius: 0.38rem 0 0 0.38rem;
    left: -9px;
    height: 193px;
    width: 10px;
}

.active__issues {
    color: #F2F4F5;
    background-color: #278ae0;
    padding: 0.5rem 0.6rem;
    margin-left: 0.5rem;
    border-radius: 1.625rem;
}

.menu__items {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.project__name {
    color: #040615;
    font-family: Lato, sans-serif;
    font-weight: 400;
    padding: 0.1rem 0;
    .name {
        font-size: medium;
        color: #070a25;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        padding: 0 0.5rem 0 0;
    }
    .project__title {
        font-size: medium;
        color: #040615;
        font-family: "Open sans";
    }
}

.card__header {
    display: flex;
    span {
        line-height: 1.8rem;
    }
}

p {
    font-family: "Open sans", sans-serif;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
}

span {
    font-family: "Open sans", sans-serif;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

//@media (prefers-reduced-motion: no-preference) {
//    a:nth-of-type(2) .logo {
//        animation: logo-spin infinite 20s linear;
//    }
//}
