@using Microsoft.AspNetCore.Mvc.TagHelpers
@***REMOVED***
    ViewData["Title"] = "Home Page";
***REMOVED***

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
    <meta name="description" content="Pro collab Landing page" />
    <meta name="keywords" content="" />
    <meta name="author" content="Kweeka" />
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true">
  </head>
  <body class="bg-slate-500">
    <div class="hero w-full h-[40rem] home__gradient absolute top-0 z-0">
      <div class="w-[35%] absolute top-[10rem] left-16">
        <h1 class="font-roboto font-bold text-4xl text-[#f1f1f1] leading-[50px]">
          Move fast, stay aligned, and build better - together 
        </h1>
        <p class="text-xl font-poppins text-[#f1f1f1] pt-6 leading-8">
          Break the big ideas down into manageable chunks across teams with user stories, issues, and tasks.
        </p>
      </div>
      <div class="absolute top-[5rem] right-16">
        <img src="/images/main.svg" alt="Header image" width="600px" srcset="">
      </div>
    </div>
   
  </body>
</html>